* {
  font-family: "SF Pro"
}

window:not(#backdrop) {
  border-radius: 1rem;
}

#search-bar {
  min-height: 60px;
  font-size: 20px;
}

.tile {
  padding: 0 0.5rem;
  border-radius: 0.75rem;
}

.tile #title {
  font-size: 20px;
}

.tile #icon {
  padding: 0.5rem 0;
}

#launcher-type {
  font-size: 16px;
}

#shortcut,
#shortcut-modkey {
  font-size: 16px;
}
