@import "../themes/dark/waybar.css";

* {
  background-color: @background;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: system-ui;
  font-size: 1.2rem;
}

.modules-left {
  margin-left: 0.25rem;
}

.modules-right {
  padding: 0.25rem 1rem;
}

#workspaces button {
  all: initial;
  min-width: 1rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu, #battery, #network, #bluetooth, #pulseaudio, #clock {
  min-width: 1rem;
  margin: 0 0.5rem;
}


tooltip {
  padding: 0.25rem;
  border-radius: 0.5rem;
}
