window#waybar {
  font-family: system-ui;
  font-size: 1.2rem;
  color: rgba(255,255,255,0.8);
  background-color: rgba(0, 0, 0, 0.4);
}

#workspaces {
  padding: 0;
  margin: 0.25rem;
}

#workspaces button {
  padding: 0.25rem 0.75rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  color: rgba(255,255,255,0.33)
}

#workspaces button.active {
  color: rgba(255,255,255,1);
  background-color: rgba(255,255,255,0.15);
}

#workspaces button:hover {
  color: black;
}

.modules-center {
  padding: 0.25rem 0.75rem;
}

.modules-right {
  padding: 0.25rem 0.75rem;
}
